{% extends 'base.html' %}

{% block title %}
    View Users
{% endblock %}


{% block content %}
    
<h1>View Page</h1>
<hr>
<!--{% with  messages = get_flashed_messages() %}
        {%if messages%}
                {%for msg in messages%}
                        <p>{{msg}}</p>
                {%endfor%}
        {%endif%}
{%endwith%} -->
    {% for user in users %}
        <p>Username: {{user.name }}</p> 
        <p>Email: {{user.email }}</p>
        <hr>
    {% endfor %}
        

{% endblock %}